<!DOCTYPE html>
<html>
<head>
	<title>Remove Course</title>
</head>
<body>
	<h2>Are you sure you want to remove this course?</h2>

	<h3>Name:{{courseNames.name}}</h3>
	
	<h3>Description:{{courseNames.description}}</h3>
	
	<form action="/" method="post">
	{% csrf_token %}
		<button type="submit">No</button>
	</form>
	<form action="/delete" method="post">
	{% csrf_token %}
		<input type="hidden" name = "id" value={{courseNames.id}}>
		<button type="submit">Yes! I want to REMOVE this course</button>
	</form>
</body>
</html>